{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<hr>
<h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li>
            Author: {{ comment.author }}, Text: {{ comment.text }}
            (<a href="/comment/{{ comment.id }}/edit/">Edit</a> | 
            <a href="/comment/{{ comment.id }}/delete/">Delete</a>)
        </li>
    {% endfor %}
</ul>
<a href="/post/{{ post.id }}/add_comment/">Add Comment</a>
<a href="/">Back to Blog List</a>
{% endblock %}
